@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.choixOption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.choixOption__text {
    margin-bottom: 50px;
}

.choixOption__btn {
    display: flex;
    flex-direction: row;

}

.choixOption__btn--item a {
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    margin: 30px;
    border-radius: 12px;
}

.choixOption__btn--item-blue a{
    background-color: blue;
}

.choixOption__btn--item-red a{
    background-color: red;
}

.choixOption__btn--item a:hover {
    opacity: 0.5;
}